node_modules
npm-debug.log
.nuxt
.output
.yarn
.vscode
.git
.github
.env
.env.*
!.env.example
.DS_Store
*.log
coverage
dist
.changeset
docs
README.md
docker-compose*.yml
Dockerfile
Dockerfile.*
!Dockerfile.prod