@import url("https://fonts.cdnfonts.com/css/circular-std");

html,
body,
#__nuxt {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

.background-image::before {
  $margin: 20px;

  content: "";
  position: fixed;
  z-index: 0;
  left: $margin;
  right: $margin;
  top: $margin;
  bottom: $margin;
  background-image: url("/background-night.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.05;
  pointer-events: none;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.v-data-table {
  &.clickable {
    .v-data-table__tr {
      cursor: pointer;
    }
  }
}

.v-overlay__scrim {
  opacity: 0.7 !important;
  background: rgb(var(--v-theme-background)) !important;
}

.v-card-actions {
  display: flex;
  justify-content: flex-end;
}

.v-combobox--chips,
.v-autocomplete--chips,
.v-select--chips {
  .v-combobox__selection,
  .v-autocomplete__selection,
  .v-select__selection {
    margin-top: 0 !important;

    .v-chip.v-chip--size-small {
      --v-chip-size: 0.7em;
      --v-chip-height: 24px;
    }
  }
}

.v-input.elevation-0 {
  .v-field--variant-solo {
    box-shadow: none;
  }
}

.v-chip {
  &.v-chip--density-compact {
    font-size: 0.8em;
  }
}
