@import url("https://fonts.cdnfonts.com/css/circular-std");

html,
body,
#__nuxt {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--el-font-family);
}

a {
  text-decoration: none;
}

.nina-layout {
  display: flex;
  position: relative;

  &:before {
    content: "";
    pointer-events: none;
    position: absolute;
    z-index: 2000;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-image: url("/background-night.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.05;
  }
}

.full-height {
  height: 100%;
}

.el-table.clickable tr {
  cursor: pointer;
}

.flex-grow {
  flex-grow: 1;
}

.auth-modal {
  min-width: 320px;

  .sitename {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 1.75rem;
    letter-spacing: -0.04em;
    font-weight: 500;
    color: var(--el-color-info-light-8);
  }

  .el-dialog-title {
    font-size: 1.2em;
    font-weight: bold;
  }

  .el-form .el-form-item:last-child {
    margin-bottom: 0;
  }

  .pre-footer {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
}
